.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 100px;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;

  .intro__content {
    flex: 1;
  }

  .intro__image {
    flex: 0 0 auto;
    margin-left: 50px;

    img.headshot {
      width: 300px;
      border-radius: 50%;
    }
  }

  @include weird-medium {
    flex-direction: column;
    .intro__image {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}
