<section class="section skills">
  <div class="section__title">Skills</div>
  <div class="section__content">
    <div class="skillz">
      {% if site.data.skills.languages %}
      <div class="skillz__category">
        <div class="skillz__category__label">Languages</div>
        <ul>
          {% for entry in site.data.skills.languages %}
          <li class="skillz__category__item">
            {% if entry.item %}{{ entry.item }}{% else %}{{ entry }}{% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if site.data.skills['frameworks/libraries'] %}
      <div class="skillz__category">
        <div class="skillz__category__label">Frameworks / Libraries</div>
        <ul>
          {% for entry in site.data.skills['frameworks/libraries'] %}
          <li class="skillz__category__item">
            {% if entry.item %}{{ entry.item }}{% else %}{{ entry }}{% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if site.data.skills.tools %}
      <div class="skillz__category">
        <div class="skillz__category__label">Tools</div>
        <ul>
          {% for entry in site.data.skills.tools %}
          <li class="skillz__category__item">
            {% if entry.item %}{{ entry.item }}{% else %}{{ entry }}{% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if site.data.skills['AI/ML skills'] %}
      <div class="skillz__category">
        <div class="skillz__category__label">AI / ML Skills</div>
        <ul>
          {% for entry in site.data.skills['AI/ML skills'] %}
          <li class="skillz__category__item">
            {% if entry.item %}{{ entry.item }}{% else %}{{ entry }}{% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if site.data.skills['soft skills'] %}
      <div class="skillz__category">
        <div class="skillz__category__label">Soft Skills</div>
        <ul>
          {% for entry in site.data.skills['soft skills'] %}
          <li class="skillz__category__item">
            {% if entry.item %}{{ entry.item }}{% else %}{{ entry }}{% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</section>
